<h1 class="text-start my-4">Happy Valley Dog Rescue</h1>
<h2 class="text-start justify-center my-4">Administrator Portal</h2>
<img class="img-fluid fixed-bottom mx-auto" style="max-width: 500px;" src="https://2.bp.blogspot.com/-oiLW4czF9a8/W6kvy8d2WJI/AAAAAAAAECo/d58Su1zoUakM_XQxDf5enUSWEiCHo9-EwCLcBGAs/s1600/dog-enrichment-fun.jpg" alt="dog">