 {{!-- NOT SURE IF EACH DOGS AS DOG WILL WORK --}}
 
 {{#each dogs as |dog|}}
    <div class="card" style= "width: 22rem; margin: 10px;">
      <div class="card-body">
        <h1 class="card-title" style = "color: navy; font-weight: bold">{{dog_name}}</h1>
        <h4 class="card-text">{{breed}}</h4>
         <img src="{{url}}" alt="dog-photo">  {{!-- response.body.data.link --}}
      </div>
    </div>
    {{/each}}

{{!-- TOOK AWAY HREF ON LINE 6 - that would be if we could view by id --}}
{{!-- TOOK AWAY<button class="btn btn-sm btn-danger" data-id="{{dog.id}}">DELETE</button> worry about delete later --}}

{{!-- Is there an easy way to get the cards of the dogs to show? - bootstrap card class? --}}
